/*-- scss:defaults --*/

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Staatliches&display=swap');

// Create font variables
$bebas: "Bebas Neue", sans-serif;
$roboto: "Roboto Condensed", sans-serif;
$sofia: "Sofia Sans Condensed", sans-serif;
$smooch: "Smooch Sans", sans-serif;
$Staatliches:"Staatliches", sans-serif;


// Colors

$indian-red: #CA535D;
$uranian-blue: #A6D9F7;
$maize: #FDE74C;
$tea-green: #DEEFB7;
$eerie-black: #1E1B18;

// Quarto Sass Variables
$navbar-bg: $eerie-black;
$navbar-fg: $maize;
$navbar-hl: $indian-red;
$body-bg: $tea-green;
$body-color: $eerie-black;
$footer-bg: $eerie-black;
$link-color: $indian-red;


/*-- scss:rules --*/

h1, h2, h3, h4 {
  font-family: $roboto;
  
}


/*h1, h2 {
  letter-spacing: 5px;
  
}
*/


.title {
  color: $indian-red;
  
}

.justify-text {
  text-align: justify;
}

.eerie-text{
  color: $eerie-black;
}

p {
  text-align: justify;
}

.navbar-brand img {
  max-height: 105px;
  width: auto;
}





